@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Padding & Margin */
.pt-5 {
  padding-top: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pl-55 {
  padding-left: 55px;
}

.pr-55 {
  padding-right: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.mb-55 {
  margin-bottom: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mr-55 {
  margin-right: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pl-65 {
  padding-left: 65px;
}

.pr-65 {
  padding-right: 65px;
}

.pb-65 {
  padding-bottom: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.mb-65 {
  margin-bottom: 65px;
}

.ml-65 {
  margin-left: 65px;
}

.mr-65 {
  margin-right: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pl-75 {
  padding-left: 75px;
}

.pr-75 {
  padding-right: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

.ml-75 {
  margin-left: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pl-85 {
  padding-left: 85px;
}

.pr-85 {
  padding-right: 85px;
}

.pb-85 {
  padding-bottom: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.mb-85 {
  margin-bottom: 85px;
}

.ml-85 {
  margin-left: 85px;
}

.mr-85 {
  margin-right: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pl-95 {
  padding-left: 95px;
}

.pr-95 {
  padding-right: 95px;
}

.pb-95 {
  padding-bottom: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.mb-95 {
  margin-bottom: 95px;
}

.ml-95 {
  margin-left: 95px;
}

.mr-95 {
  margin-right: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pl-105 {
  padding-left: 105px;
}

.pr-105 {
  padding-right: 105px;
}

.pb-105 {
  padding-bottom: 105px;
}

.mt-105 {
  margin-top: 105px;
}

.mb-105 {
  margin-bottom: 105px;
}

.ml-105 {
  margin-left: 105px;
}

.mr-105 {
  margin-right: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pl-110 {
  padding-left: 110px;
}

.pr-110 {
  padding-right: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.ml-110 {
  margin-left: 110px;
}

.mr-110 {
  margin-right: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pl-115 {
  padding-left: 115px;
}

.pr-115 {
  padding-right: 115px;
}

.pb-115 {
  padding-bottom: 115px;
}

.mt-115 {
  margin-top: 115px;
}

.mb-115 {
  margin-bottom: 115px;
}

.ml-115 {
  margin-left: 115px;
}

.mr-115 {
  margin-right: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pl-120 {
  padding-left: 120px;
}

.pr-120 {
  padding-right: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.ml-120 {
  margin-left: 120px;
}

.mr-120 {
  margin-right: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pl-125 {
  padding-left: 125px;
}

.pr-125 {
  padding-right: 125px;
}

.pb-125 {
  padding-bottom: 125px;
}

.mt-125 {
  margin-top: 125px;
}

.mb-125 {
  margin-bottom: 125px;
}

.ml-125 {
  margin-left: 125px;
}

.mr-125 {
  margin-right: 125px;
}

.h-auto {
  height: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

/* Flex CSS */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-evenly {
  justify-content: evenly;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.col-12 {
  width: 100%;
}

@media (max-width: 576px) {
  .container {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .col-md-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-md-3 {
    width: 25%;
    padding: 15px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-md-6 {
    width: 50%;
    padding: 15px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-md-9 {
    width: 75%;
    padding: 15px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-md-12 {
    width: 100%;
    padding: 15px;
  }
  /* Padding & Margin */
  .pt-md-5 {
    padding-top: 5px;
  }
  .pl-md-5 {
    padding-left: 5px;
  }
  .pr-md-5 {
    padding-right: 5px;
  }
  .pb-md-5 {
    padding-bottom: 5px;
  }
  .mt-md-5 {
    margin-top: 5px;
  }
  .mb-md-5 {
    margin-bottom: 5px;
  }
  .ml-md-5 {
    margin-left: 5px;
  }
  .mr-md-5 {
    margin-right: 5px;
  }
  .pt-md-10 {
    padding-top: 10px;
  }
  .pl-md-10 {
    padding-left: 10px;
  }
  .pr-md-10 {
    padding-right: 10px;
  }
  .pb-md-10 {
    padding-bottom: 10px;
  }
  .mt-md-10 {
    margin-top: 10px;
  }
  .mb-md-10 {
    margin-bottom: 10px;
  }
  .ml-md-10 {
    margin-left: 10px;
  }
  .mr-md-10 {
    margin-right: 10px;
  }
  .pt-md-15 {
    padding-top: 15px;
  }
  .pl-md-15 {
    padding-left: 15px;
  }
  .pr-md-15 {
    padding-right: 15px;
  }
  .pb-md-15 {
    padding-bottom: 15px;
  }
  .mt-md-15 {
    margin-top: 15px;
  }
  .mb-md-15 {
    margin-bottom: 15px;
  }
  .ml-md-15 {
    margin-left: 15px;
  }
  .mr-md-15 {
    margin-right: 15px;
  }
  .pt-md-20 {
    padding-top: 20px;
  }
  .pl-md-20 {
    padding-left: 20px;
  }
  .pr-md-20 {
    padding-right: 20px;
  }
  .pb-md-20 {
    padding-bottom: 20px;
  }
  .mt-md-20 {
    margin-top: 20px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .ml-md-20 {
    margin-left: 20px;
  }
  .mr-md-20 {
    margin-right: 20px;
  }
  .pt-md-25 {
    padding-top: 25px;
  }
  .pl-md-25 {
    padding-left: 25px;
  }
  .pr-md-25 {
    padding-right: 25px;
  }
  .pb-md-25 {
    padding-bottom: 25px;
  }
  .mt-md-25 {
    margin-top: 25px;
  }
  .mb-md-25 {
    margin-bottom: 25px;
  }
  .ml-md-25 {
    margin-left: 25px;
  }
  .mr-md-25 {
    margin-right: 25px;
  }
  .pt-md-30 {
    padding-top: 30px;
  }
  .pl-md-30 {
    padding-left: 30px;
  }
  .pr-md-30 {
    padding-right: 30px;
  }
  .pb-md-30 {
    padding-bottom: 30px;
  }
  .mt-md-30 {
    margin-top: 30px;
  }
  .mb-md-30 {
    margin-bottom: 30px;
  }
  .ml-md-30 {
    margin-left: 30px;
  }
  .mr-md-30 {
    margin-right: 30px;
  }
  .pt-md-35 {
    padding-top: 35px;
  }
  .pl-md-35 {
    padding-left: 35px;
  }
  .pr-md-35 {
    padding-right: 35px;
  }
  .pb-md-35 {
    padding-bottom: 35px;
  }
  .mt-md-35 {
    margin-top: 35px;
  }
  .mb-md-35 {
    margin-bottom: 35px;
  }
  .ml-md-35 {
    margin-left: 35px;
  }
  .mr-md-35 {
    margin-right: 35px;
  }
  .pt-md-40 {
    padding-top: 40px;
  }
  .pl-md-40 {
    padding-left: 40px;
  }
  .pr-md-40 {
    padding-right: 40px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .ml-md-40 {
    margin-left: 40px;
  }
  .mr-md-40 {
    margin-right: 40px;
  }
  .pt-md-45 {
    padding-top: 45px;
  }
  .pl-md-45 {
    padding-left: 45px;
  }
  .pr-md-45 {
    padding-right: 45px;
  }
  .pb-md-45 {
    padding-bottom: 45px;
  }
  .mt-md-45 {
    margin-top: 45px;
  }
  .mb-md-45 {
    margin-bottom: 45px;
  }
  .ml-md-45 {
    margin-left: 45px;
  }
  .mr-md-45 {
    margin-right: 45px;
  }
  .pt-md-50 {
    padding-top: 50px;
  }
  .pl-md-50 {
    padding-left: 50px;
  }
  .pr-md-50 {
    padding-right: 50px;
  }
  .pb-md-50 {
    padding-bottom: 50px;
  }
  .mt-md-50 {
    margin-top: 50px;
  }
  .mb-md-50 {
    margin-bottom: 50px;
  }
  .ml-md-50 {
    margin-left: 50px;
  }
  .mr-md-50 {
    margin-right: 50px;
  }
  .pt-md-55 {
    padding-top: 55px;
  }
  .pl-md-55 {
    padding-left: 55px;
  }
  .pr-md-55 {
    padding-right: 55px;
  }
  .pb-md-55 {
    padding-bottom: 55px;
  }
  .mt-md-55 {
    margin-top: 55px;
  }
  .mb-md-55 {
    margin-bottom: 55px;
  }
  .ml-md-55 {
    margin-left: 55px;
  }
  .mr-md-55 {
    margin-right: 55px;
  }
  .pt-md-60 {
    padding-top: 60px;
  }
  .pl-md-60 {
    padding-left: 60px;
  }
  .pr-md-60 {
    padding-right: 60px;
  }
  .pb-md-60 {
    padding-bottom: 60px;
  }
  .mt-md-60 {
    margin-top: 60px;
  }
  .mb-md-60 {
    margin-bottom: 60px;
  }
  .ml-md-60 {
    margin-left: 60px;
  }
  .mr-md-60 {
    margin-right: 60px;
  }
  .pt-md-65 {
    padding-top: 65px;
  }
  .pl-md-65 {
    padding-left: 65px;
  }
  .pr-md-65 {
    padding-right: 65px;
  }
  .pb-md-65 {
    padding-bottom: 65px;
  }
  .mt-md-65 {
    margin-top: 65px;
  }
  .mb-md-65 {
    margin-bottom: 65px;
  }
  .ml-md-65 {
    margin-left: 65px;
  }
  .mr-md-65 {
    margin-right: 65px;
  }
  .pt-md-70 {
    padding-top: 70px;
  }
  .pl-md-70 {
    padding-left: 70px;
  }
  .pr-md-70 {
    padding-right: 70px;
  }
  .pb-md-70 {
    padding-bottom: 70px;
  }
  .mt-md-70 {
    margin-top: 70px;
  }
  .mb-md-70 {
    margin-bottom: 70px;
  }
  .ml-md-70 {
    margin-left: 70px;
  }
  .mr-md-70 {
    margin-right: 70px;
  }
  .pt-md-75 {
    padding-top: 75px;
  }
  .pl-md-75 {
    padding-left: 75px;
  }
  .pr-md-75 {
    padding-right: 75px;
  }
  .pb-md-75 {
    padding-bottom: 75px;
  }
  .mt-md-75 {
    margin-top: 75px;
  }
  .mb-md-75 {
    margin-bottom: 75px;
  }
  .ml-md-75 {
    margin-left: 75px;
  }
  .mr-md-75 {
    margin-right: 75px;
  }
  .pt-md-80 {
    padding-top: 80px;
  }
  .pl-md-80 {
    padding-left: 80px;
  }
  .pr-md-80 {
    padding-right: 80px;
  }
  .pb-md-80 {
    padding-bottom: 80px;
  }
  .mt-md-80 {
    margin-top: 80px;
  }
  .mb-md-80 {
    margin-bottom: 80px;
  }
  .ml-md-80 {
    margin-left: 80px;
  }
  .mr-md-80 {
    margin-right: 80px;
  }
  .pt-md-85 {
    padding-top: 85px;
  }
  .pl-md-85 {
    padding-left: 85px;
  }
  .pr-md-85 {
    padding-right: 85px;
  }
  .pb-md-85 {
    padding-bottom: 85px;
  }
  .mt-md-85 {
    margin-top: 85px;
  }
  .mb-md-85 {
    margin-bottom: 85px;
  }
  .ml-md-85 {
    margin-left: 85px;
  }
  .mr-md-85 {
    margin-right: 85px;
  }
  .pt-md-90 {
    padding-top: 90px;
  }
  .pl-md-90 {
    padding-left: 90px;
  }
  .pr-md-90 {
    padding-right: 90px;
  }
  .pb-md-90 {
    padding-bottom: 90px;
  }
  .mt-md-90 {
    margin-top: 90px;
  }
  .mb-md-90 {
    margin-bottom: 90px;
  }
  .ml-md-90 {
    margin-left: 90px;
  }
  .mr-md-90 {
    margin-right: 90px;
  }
  .pt-md-95 {
    padding-top: 95px;
  }
  .pl-md-95 {
    padding-left: 95px;
  }
  .pr-md-95 {
    padding-right: 95px;
  }
  .pb-md-95 {
    padding-bottom: 95px;
  }
  .mt-md-95 {
    margin-top: 95px;
  }
  .mb-md-95 {
    margin-bottom: 95px;
  }
  .ml-md-95 {
    margin-left: 95px;
  }
  .mr-md-95 {
    margin-right: 95px;
  }
  .pt-md-100 {
    padding-top: 100px;
  }
  .pl-md-100 {
    padding-left: 100px;
  }
  .pr-md-100 {
    padding-right: 100px;
  }
  .pb-md-100 {
    padding-bottom: 100px;
  }
  .mt-md-100 {
    margin-top: 100px;
  }
  .mb-md-100 {
    margin-bottom: 100px;
  }
  .ml-md-100 {
    margin-left: 100px;
  }
  .mr-md-100 {
    margin-right: 100px;
  }
  .h-auto {
    height: auto;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
  h1-md {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }
  h2-md {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  h3-md {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }
  h4-md {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  h5-md {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  h6-md {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
  /* Flex CSS */
  .d-md-flex {
    display: flex;
  }
  .d-md-inline-flex {
    display: inline-flex;
  }
  .flex-direction-md-row {
    flex-direction: row;
  }
  .flex-direction-md-column {
    flex-direction: column;
  }
  .flex-direction-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-md-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-md-start {
    justify-content: start;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-end {
    justify-content: end;
  }
  .justify-content-md-evenly {
    justify-content: evenly;
  }
  .justify-content-md-space-around {
    justify-content: space-around;
  }
  .justify-content-md-space-between {
    justify-content: space-between;
  }
  .align-items-md-start {
    align-items: start;
  }
  .align-items-md-center {
    align-items: center;
  }
  .align-items-md-end {
    align-items: end;
  }
  .align-items-md-stretch {
    align-items: stretch;
  }
  .align-items-md-baseline {
    align-items: baseline;
  }
  .text-md-lowercase {
    text-transform: lowercase;
  }
  .text-md-capitalize {
    text-transform: capitalize;
  }
  .text-md-uppercase {
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 15px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding: 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding: 15px;
  }
  /* Padding & Margin */
  .pt-lg-5 {
    padding-top: 5px;
  }
  .pl-lg-5 {
    padding-left: 5px;
  }
  .pr-lg-5 {
    padding-right: 5px;
  }
  .pb-lg-5 {
    padding-bottom: 5px;
  }
  .mt-lg-5 {
    margin-top: 5px;
  }
  .mb-lg-5 {
    margin-bottom: 5px;
  }
  .ml-lg-5 {
    margin-left: 5px;
  }
  .mr-lg-5 {
    margin-right: 5px;
  }
  .pt-lg-10 {
    padding-top: 10px;
  }
  .pl-lg-10 {
    padding-left: 10px;
  }
  .pr-lg-10 {
    padding-right: 10px;
  }
  .pb-lg-10 {
    padding-bottom: 10px;
  }
  .mt-lg-10 {
    margin-top: 10px;
  }
  .mb-lg-10 {
    margin-bottom: 10px;
  }
  .ml-lg-10 {
    margin-left: 10px;
  }
  .mr-lg-10 {
    margin-right: 10px;
  }
  .pt-lg-15 {
    padding-top: 15px;
  }
  .pl-lg-15 {
    padding-left: 15px;
  }
  .pr-lg-15 {
    padding-right: 15px;
  }
  .pb-lg-15 {
    padding-bottom: 15px;
  }
  .mt-lg-15 {
    margin-top: 15px;
  }
  .mb-lg-15 {
    margin-bottom: 15px;
  }
  .ml-lg-15 {
    margin-left: 15px;
  }
  .mr-lg-15 {
    margin-right: 15px;
  }
  .pt-lg-20 {
    padding-top: 20px;
  }
  .pl-lg-20 {
    padding-left: 20px;
  }
  .pr-lg-20 {
    padding-right: 20px;
  }
  .pb-lg-20 {
    padding-bottom: 20px;
  }
  .mt-lg-20 {
    margin-top: 20px;
  }
  .mb-lg-20 {
    margin-bottom: 20px;
  }
  .ml-lg-20 {
    margin-left: 20px;
  }
  .mr-lg-20 {
    margin-right: 20px;
  }
  .pt-lg-25 {
    padding-top: 25px;
  }
  .pl-lg-25 {
    padding-left: 25px;
  }
  .pr-lg-25 {
    padding-right: 25px;
  }
  .pb-lg-25 {
    padding-bottom: 25px;
  }
  .mt-lg-25 {
    margin-top: 25px;
  }
  .mb-lg-25 {
    margin-bottom: 25px;
  }
  .ml-lg-25 {
    margin-left: 25px;
  }
  .mr-lg-25 {
    margin-right: 25px;
  }
  .pt-lg-30 {
    padding-top: 30px;
  }
  .pl-lg-30 {
    padding-left: 30px;
  }
  .pr-lg-30 {
    padding-right: 30px;
  }
  .pb-lg-30 {
    padding-bottom: 30px;
  }
  .mt-lg-30 {
    margin-top: 30px;
  }
  .mb-lg-30 {
    margin-bottom: 30px;
  }
  .ml-lg-30 {
    margin-left: 30px;
  }
  .mr-lg-30 {
    margin-right: 30px;
  }
  .pt-lg-35 {
    padding-top: 35px;
  }
  .pl-lg-35 {
    padding-left: 35px;
  }
  .pr-lg-35 {
    padding-right: 35px;
  }
  .pb-lg-35 {
    padding-bottom: 35px;
  }
  .mt-lg-35 {
    margin-top: 35px;
  }
  .mb-lg-35 {
    margin-bottom: 35px;
  }
  .ml-lg-35 {
    margin-left: 35px;
  }
  .mr-lg-35 {
    margin-right: 35px;
  }
  .pt-lg-40 {
    padding-top: 40px;
  }
  .pl-lg-40 {
    padding-left: 40px;
  }
  .pr-lg-40 {
    padding-right: 40px;
  }
  .pb-lg-40 {
    padding-bottom: 40px;
  }
  .mt-lg-40 {
    margin-top: 40px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .ml-lg-40 {
    margin-left: 40px;
  }
  .mr-lg-40 {
    margin-right: 40px;
  }
  .pt-lg-45 {
    padding-top: 45px;
  }
  .pl-lg-45 {
    padding-left: 45px;
  }
  .pr-lg-45 {
    padding-right: 45px;
  }
  .pb-lg-45 {
    padding-bottom: 45px;
  }
  .mt-lg-45 {
    margin-top: 45px;
  }
  .mb-lg-45 {
    margin-bottom: 45px;
  }
  .ml-lg-45 {
    margin-left: 45px;
  }
  .mr-lg-45 {
    margin-right: 45px;
  }
  .pt-lg-50 {
    padding-top: 50px;
  }
  .pl-lg-50 {
    padding-left: 50px;
  }
  .pr-lg-50 {
    padding-right: 50px;
  }
  .pb-lg-50 {
    padding-bottom: 50px;
  }
  .mt-lg-50 {
    margin-top: 50px;
  }
  .mb-lg-50 {
    margin-bottom: 50px;
  }
  .ml-lg-50 {
    margin-left: 50px;
  }
  .mr-lg-50 {
    margin-right: 50px;
  }
  .pt-lg-55 {
    padding-top: 55px;
  }
  .pl-lg-55 {
    padding-left: 55px;
  }
  .pr-lg-55 {
    padding-right: 55px;
  }
  .pb-lg-55 {
    padding-bottom: 55px;
  }
  .mt-lg-55 {
    margin-top: 55px;
  }
  .mb-lg-55 {
    margin-bottom: 55px;
  }
  .ml-lg-55 {
    margin-left: 55px;
  }
  .mr-lg-55 {
    margin-right: 55px;
  }
  .pt-lg-60 {
    padding-top: 60px;
  }
  .pl-lg-60 {
    padding-left: 60px;
  }
  .pr-lg-60 {
    padding-right: 60px;
  }
  .pb-lg-60 {
    padding-bottom: 60px;
  }
  .mt-lg-60 {
    margin-top: 60px;
  }
  .mb-lg-60 {
    margin-bottom: 60px;
  }
  .ml-lg-60 {
    margin-left: 60px;
  }
  .mr-lg-60 {
    margin-right: 60px;
  }
  .pt-lg-65 {
    padding-top: 65px;
  }
  .pl-lg-65 {
    padding-left: 65px;
  }
  .pr-lg-65 {
    padding-right: 65px;
  }
  .pb-lg-65 {
    padding-bottom: 65px;
  }
  .mt-lg-65 {
    margin-top: 65px;
  }
  .mb-lg-65 {
    margin-bottom: 65px;
  }
  .ml-lg-65 {
    margin-left: 65px;
  }
  .mr-lg-65 {
    margin-right: 65px;
  }
  .pt-lg-70 {
    padding-top: 70px;
  }
  .pl-lg-70 {
    padding-left: 70px;
  }
  .pr-lg-70 {
    padding-right: 70px;
  }
  .pb-lg-70 {
    padding-bottom: 70px;
  }
  .mt-lg-70 {
    margin-top: 70px;
  }
  .mb-lg-70 {
    margin-bottom: 70px;
  }
  .ml-lg-70 {
    margin-left: 70px;
  }
  .mr-lg-70 {
    margin-right: 70px;
  }
  .pt-lg-75 {
    padding-top: 75px;
  }
  .pl-lg-75 {
    padding-left: 75px;
  }
  .pr-lg-75 {
    padding-right: 75px;
  }
  .pb-lg-75 {
    padding-bottom: 75px;
  }
  .mt-lg-75 {
    margin-top: 75px;
  }
  .mb-lg-75 {
    margin-bottom: 75px;
  }
  .ml-lg-75 {
    margin-left: 75px;
  }
  .mr-lg-75 {
    margin-right: 75px;
  }
  .pt-lg-80 {
    padding-top: 80px;
  }
  .pl-lg-80 {
    padding-left: 80px;
  }
  .pr-lg-80 {
    padding-right: 80px;
  }
  .pb-lg-80 {
    padding-bottom: 80px;
  }
  .mt-lg-80 {
    margin-top: 80px;
  }
  .mb-lg-80 {
    margin-bottom: 80px;
  }
  .ml-lg-80 {
    margin-left: 80px;
  }
  .mr-lg-80 {
    margin-right: 80px;
  }
  .pt-lg-85 {
    padding-top: 85px;
  }
  .pl-lg-85 {
    padding-left: 85px;
  }
  .pr-lg-85 {
    padding-right: 85px;
  }
  .pb-lg-85 {
    padding-bottom: 85px;
  }
  .mt-lg-85 {
    margin-top: 85px;
  }
  .mb-lg-85 {
    margin-bottom: 85px;
  }
  .ml-lg-85 {
    margin-left: 85px;
  }
  .mr-lg-85 {
    margin-right: 85px;
  }
  .pt-lg-90 {
    padding-top: 90px;
  }
  .pl-lg-90 {
    padding-left: 90px;
  }
  .pr-lg-90 {
    padding-right: 90px;
  }
  .pb-lg-90 {
    padding-bottom: 90px;
  }
  .mt-lg-90 {
    margin-top: 90px;
  }
  .mb-lg-90 {
    margin-bottom: 90px;
  }
  .ml-lg-90 {
    margin-left: 90px;
  }
  .mr-lg-90 {
    margin-right: 90px;
  }
  .pt-lg-95 {
    padding-top: 95px;
  }
  .pl-lg-95 {
    padding-left: 95px;
  }
  .pr-lg-95 {
    padding-right: 95px;
  }
  .pb-lg-95 {
    padding-bottom: 95px;
  }
  .mt-lg-95 {
    margin-top: 95px;
  }
  .mb-lg-95 {
    margin-bottom: 95px;
  }
  .ml-lg-95 {
    margin-left: 95px;
  }
  .mr-lg-95 {
    margin-right: 95px;
  }
  .pt-lg-100 {
    padding-top: 100px;
  }
  .pl-lg-100 {
    padding-left: 100px;
  }
  .pr-lg-100 {
    padding-right: 100px;
  }
  .pb-lg-100 {
    padding-bottom: 100px;
  }
  .mt-lg-100 {
    margin-top: 100px;
  }
  .mb-lg-100 {
    margin-bottom: 100px;
  }
  .ml-lg-100 {
    margin-left: 100px;
  }
  .mr-lg-100 {
    margin-right: 100px;
  }
  .h-lg-50 {
    height: 50vh;
  }
  /* Flex CSS */
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline-flex {
    display: inline-flex;
  }
  .flex-direction-lg-row {
    flex-direction: row;
  }
  .flex-direction-lg-column {
    flex-direction: column;
  }
  .flex-direction-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-lg-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-lg-start {
    justify-content: start;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-end {
    justify-content: end;
  }
  .justify-content-lg-evenly {
    justify-content: evenly;
  }
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
  .align-items-lg-start {
    align-items: start;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .align-items-lg-end {
    align-items: end;
  }
  .align-items-lg-stretch {
    align-items: stretch;
  }
  .align-items-lg-baseline {
    align-items: baseline;
  }
  .text-lg-lowercase {
    text-transform: lowercase;
  }
  .text-lg-capitalize {
    text-transform: capitalize;
  }
  .text-lg-uppercase {
    text-transform: uppercase;
  }
  h1-lg {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }
  h2-lg {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  h3-lg {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }
  h4-lg {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  h5-lg {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  h6-lg {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 15px;
  }
  /* Padding & Margin */
  .pt-xxl-0 {
    padding-top: 0px;
  }
  .pl-xl-0 {
    padding-left: 0px;
  }
  .pr-xl-0 {
    padding-right: 0px;
  }
  .pb-xl-0 {
    padding-bottom: 0px;
  }
  .mt-xl-0 {
    margin-top: 0px;
  }
  .mb-xl-0 {
    margin-bottom: 0px;
  }
  .ml-xl-0 {
    margin-left: 0px;
  }
  .mr-xl-0 {
    margin-right: 0px;
  }
  .pt-xxl-5 {
    padding-top: 5px;
  }
  .pl-xl-5 {
    padding-left: 5px;
  }
  .pr-xl-5 {
    padding-right: 5px;
  }
  .pb-xl-5 {
    padding-bottom: 5px;
  }
  .mt-xl-5 {
    margin-top: 5px;
  }
  .mb-xl-5 {
    margin-bottom: 5px;
  }
  .ml-xl-5 {
    margin-left: 5px;
  }
  .mr-xl-5 {
    margin-right: 5px;
  }
  .pt-xxl-10 {
    padding-top: 10px;
  }
  .pl-xl-10 {
    padding-left: 10px;
  }
  .pr-xl-10 {
    padding-right: 10px;
  }
  .pb-xl-10 {
    padding-bottom: 10px;
  }
  .mt-xl-10 {
    margin-top: 10px;
  }
  .mb-xl-10 {
    margin-bottom: 10px;
  }
  .ml-xl-10 {
    margin-left: 10px;
  }
  .mr-xl-10 {
    margin-right: 10px;
  }
  .pt-xxl-15 {
    padding-top: 15px;
  }
  .pl-xl-15 {
    padding-left: 15px;
  }
  .pr-xl-15 {
    padding-right: 15px;
  }
  .pb-xl-15 {
    padding-bottom: 15px;
  }
  .mt-xl-15 {
    margin-top: 15px;
  }
  .mb-xl-15 {
    margin-bottom: 15px;
  }
  .ml-xl-15 {
    margin-left: 15px;
  }
  .mr-xl-15 {
    margin-right: 15px;
  }
  .pt-xxl-20 {
    padding-top: 20px;
  }
  .pl-xl-20 {
    padding-left: 20px;
  }
  .pr-xl-20 {
    padding-right: 20px;
  }
  .pb-xl-20 {
    padding-bottom: 20px;
  }
  .mt-xl-20 {
    margin-top: 20px;
  }
  .mb-xl-20 {
    margin-bottom: 20px;
  }
  .ml-xl-20 {
    margin-left: 20px;
  }
  .mr-xl-20 {
    margin-right: 20px;
  }
  .pt-xxl-25 {
    padding-top: 25px;
  }
  .pl-xl-25 {
    padding-left: 25px;
  }
  .pr-xl-25 {
    padding-right: 25px;
  }
  .pb-xl-25 {
    padding-bottom: 25px;
  }
  .mt-xl-25 {
    margin-top: 25px;
  }
  .mb-xl-25 {
    margin-bottom: 25px;
  }
  .ml-xl-25 {
    margin-left: 25px;
  }
  .mr-xl-25 {
    margin-right: 25px;
  }
  .pt-xxl-30 {
    padding-top: 30px;
  }
  .pl-xl-30 {
    padding-left: 30px;
  }
  .pr-xl-30 {
    padding-right: 30px;
  }
  .pb-xl-30 {
    padding-bottom: 30px;
  }
  .mt-xl-30 {
    margin-top: 30px;
  }
  .mb-xl-30 {
    margin-bottom: 30px;
  }
  .ml-xl-30 {
    margin-left: 30px;
  }
  .mr-xl-30 {
    margin-right: 30px;
  }
  .pt-xxl-35 {
    padding-top: 35px;
  }
  .pl-xl-35 {
    padding-left: 35px;
  }
  .pr-xl-35 {
    padding-right: 35px;
  }
  .pb-xl-35 {
    padding-bottom: 35px;
  }
  .mt-xl-35 {
    margin-top: 35px;
  }
  .mb-xl-35 {
    margin-bottom: 35px;
  }
  .ml-xl-35 {
    margin-left: 35px;
  }
  .mr-xl-35 {
    margin-right: 35px;
  }
  .pt-xxl-40 {
    padding-top: 40px;
  }
  .pl-xl-40 {
    padding-left: 40px;
  }
  .pr-xl-40 {
    padding-right: 40px;
  }
  .pb-xl-40 {
    padding-bottom: 40px;
  }
  .mt-xl-40 {
    margin-top: 40px;
  }
  .mb-xl-40 {
    margin-bottom: 40px;
  }
  .ml-xl-40 {
    margin-left: 40px;
  }
  .mr-xl-40 {
    margin-right: 40px;
  }
  .pt-xxl-45 {
    padding-top: 45px;
  }
  .pl-xl-45 {
    padding-left: 45px;
  }
  .pr-xl-45 {
    padding-right: 45px;
  }
  .pb-xl-45 {
    padding-bottom: 45px;
  }
  .mt-xl-45 {
    margin-top: 45px;
  }
  .mb-xl-45 {
    margin-bottom: 45px;
  }
  .ml-xl-45 {
    margin-left: 45px;
  }
  .mr-xl-45 {
    margin-right: 45px;
  }
  .pt-xxl-50 {
    padding-top: 50px;
  }
  .pl-xl-50 {
    padding-left: 50px;
  }
  .pr-xl-50 {
    padding-right: 50px;
  }
  .pb-xl-50 {
    padding-bottom: 50px;
  }
  .mt-xl-50 {
    margin-top: 50px;
  }
  .mb-xl-50 {
    margin-bottom: 50px;
  }
  .ml-xl-50 {
    margin-left: 50px;
  }
  .mr-xl-50 {
    margin-right: 50px;
  }
  .pt-xxl-55 {
    padding-top: 55px;
  }
  .pl-xl-55 {
    padding-left: 55px;
  }
  .pr-xl-55 {
    padding-right: 55px;
  }
  .pb-xl-55 {
    padding-bottom: 55px;
  }
  .mt-xl-55 {
    margin-top: 55px;
  }
  .mb-xl-55 {
    margin-bottom: 55px;
  }
  .ml-xl-55 {
    margin-left: 55px;
  }
  .mr-xl-55 {
    margin-right: 55px;
  }
  .pt-xxl-60 {
    padding-top: 60px;
  }
  .pl-xl-60 {
    padding-left: 60px;
  }
  .pr-xl-60 {
    padding-right: 60px;
  }
  .pb-xl-60 {
    padding-bottom: 60px;
  }
  .mt-xl-60 {
    margin-top: 60px;
  }
  .mb-xl-60 {
    margin-bottom: 60px;
  }
  .ml-xl-60 {
    margin-left: 60px;
  }
  .mr-xl-60 {
    margin-right: 60px;
  }
  .pt-xxl-65 {
    padding-top: 65px;
  }
  .pl-xl-65 {
    padding-left: 65px;
  }
  .pr-xl-65 {
    padding-right: 65px;
  }
  .pb-xl-65 {
    padding-bottom: 65px;
  }
  .mt-xl-65 {
    margin-top: 65px;
  }
  .mb-xl-65 {
    margin-bottom: 65px;
  }
  .ml-xl-65 {
    margin-left: 65px;
  }
  .mr-xl-65 {
    margin-right: 65px;
  }
  .pt-xxl-70 {
    padding-top: 70px;
  }
  .pl-xl-70 {
    padding-left: 70px;
  }
  .pr-xl-70 {
    padding-right: 70px;
  }
  .pb-xl-70 {
    padding-bottom: 70px;
  }
  .mt-xl-70 {
    margin-top: 70px;
  }
  .mb-xl-70 {
    margin-bottom: 70px;
  }
  .ml-xl-70 {
    margin-left: 70px;
  }
  .mr-xl-70 {
    margin-right: 70px;
  }
  .pt-xxl-75 {
    padding-top: 75px;
  }
  .pl-xl-75 {
    padding-left: 75px;
  }
  .pr-xl-75 {
    padding-right: 75px;
  }
  .pb-xl-75 {
    padding-bottom: 75px;
  }
  .mt-xl-75 {
    margin-top: 75px;
  }
  .mb-xl-75 {
    margin-bottom: 75px;
  }
  .ml-xl-75 {
    margin-left: 75px;
  }
  .mr-xl-75 {
    margin-right: 75px;
  }
  .pt-xxl-80 {
    padding-top: 80px;
  }
  .pl-xl-80 {
    padding-left: 80px;
  }
  .pr-xl-80 {
    padding-right: 80px;
  }
  .pb-xl-80 {
    padding-bottom: 80px;
  }
  .mt-xl-80 {
    margin-top: 80px;
  }
  .mb-xl-80 {
    margin-bottom: 80px;
  }
  .ml-xl-80 {
    margin-left: 80px;
  }
  .mr-xl-80 {
    margin-right: 80px;
  }
  .pt-xxl-85 {
    padding-top: 85px;
  }
  .pl-xl-85 {
    padding-left: 85px;
  }
  .pr-xl-85 {
    padding-right: 85px;
  }
  .pb-xl-85 {
    padding-bottom: 85px;
  }
  .mt-xl-85 {
    margin-top: 85px;
  }
  .mb-xl-85 {
    margin-bottom: 85px;
  }
  .ml-xl-85 {
    margin-left: 85px;
  }
  .mr-xl-85 {
    margin-right: 85px;
  }
  .pt-xxl-90 {
    padding-top: 90px;
  }
  .pl-xl-90 {
    padding-left: 90px;
  }
  .pr-xl-90 {
    padding-right: 90px;
  }
  .pb-xl-90 {
    padding-bottom: 90px;
  }
  .mt-xl-90 {
    margin-top: 90px;
  }
  .mb-xl-90 {
    margin-bottom: 90px;
  }
  .ml-xl-90 {
    margin-left: 90px;
  }
  .mr-xl-90 {
    margin-right: 90px;
  }
  .pt-xxl-95 {
    padding-top: 95px;
  }
  .pl-xl-95 {
    padding-left: 95px;
  }
  .pr-xl-95 {
    padding-right: 95px;
  }
  .pb-xl-95 {
    padding-bottom: 95px;
  }
  .mt-xl-95 {
    margin-top: 95px;
  }
  .mb-xl-95 {
    margin-bottom: 95px;
  }
  .ml-xl-95 {
    margin-left: 95px;
  }
  .mr-xl-95 {
    margin-right: 95px;
  }
  .pt-xxl-100 {
    padding-top: 100px;
  }
  .pl-xl-100 {
    padding-left: 100px;
  }
  .pr-xl-100 {
    padding-right: 100px;
  }
  .pb-xl-100 {
    padding-bottom: 100px;
  }
  .mt-xl-100 {
    margin-top: 100px;
  }
  .mb-xl-100 {
    margin-bottom: 100px;
  }
  .ml-xl-100 {
    margin-left: 100px;
  }
  .mr-xl-100 {
    margin-right: 100px;
  }
  /* Flex CSS */
  .d-xl-flex {
    display: flex;
  }
  .d-xl-inline-flex {
    display: inline-flex;
  }
  .flex-direction-xl-row {
    flex-direction: row;
  }
  .flex-direction-xl-column {
    flex-direction: column;
  }
  .flex-direction-xl-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xl-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-xl-start {
    justify-content: start;
  }
  .justify-content-xl-center {
    justify-content: center;
  }
  .justify-content-xl-end {
    justify-content: end;
  }
  .justify-content-xl-evenly {
    justify-content: evenly;
  }
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
  .align-items-xl-start {
    align-items: start;
  }
  .align-items-xl-center {
    align-items: center;
  }
  .align-items-xl-end {
    align-items: end;
  }
  .align-items-xl-stretch {
    align-items: stretch;
  }
  .align-items-xl-baseline {
    align-items: baseline;
  }
  .text-xl-lowercase {
    text-transform: lowercase;
  }
  .text-xl-capitalize {
    text-transform: capitalize;
  }
  .text-xl-uppercase {
    text-transform: uppercase;
  }
  h1-xl {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }
  h2-xl {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  h3-xl {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }
  h4-xl {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  h5-xl {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  h6-xl {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 15px;
  }
  /* Padding & Margin */
  .pt-xxl-0 {
    padding-top: 0px;
  }
  .pl-xxl-0 {
    padding-left: 0px;
  }
  .pr-xxl-0 {
    padding-right: 0px;
  }
  .pb-xxl-0 {
    padding-bottom: 0px;
  }
  .mt-xxl-0 {
    margin-top: 0px;
  }
  .mb-xxl-0 {
    margin-bottom: 0px;
  }
  .ml-xxl-0 {
    margin-left: 0px;
  }
  .mr-xxl-0 {
    margin-right: 0px;
  }
  .pt-xxl-5 {
    padding-top: 5px;
  }
  .pl-xxl-5 {
    padding-left: 5px;
  }
  .pr-xxl-5 {
    padding-right: 5px;
  }
  .pb-xxl-5 {
    padding-bottom: 5px;
  }
  .mt-xxl-5 {
    margin-top: 5px;
  }
  .mb-xxl-5 {
    margin-bottom: 5px;
  }
  .ml-xxl-5 {
    margin-left: 5px;
  }
  .mr-xxl-5 {
    margin-right: 5px;
  }
  .pt-xxl-10 {
    padding-top: 10px;
  }
  .pl-xxl-10 {
    padding-left: 10px;
  }
  .pr-xxl-10 {
    padding-right: 10px;
  }
  .pb-xxl-10 {
    padding-bottom: 10px;
  }
  .mt-xxl-10 {
    margin-top: 10px;
  }
  .mb-xxl-10 {
    margin-bottom: 10px;
  }
  .ml-xxl-10 {
    margin-left: 10px;
  }
  .mr-xxl-10 {
    margin-right: 10px;
  }
  .pt-xxl-15 {
    padding-top: 15px;
  }
  .pl-xxl-15 {
    padding-left: 15px;
  }
  .pr-xxl-15 {
    padding-right: 15px;
  }
  .pb-xxl-15 {
    padding-bottom: 15px;
  }
  .mt-xxl-15 {
    margin-top: 15px;
  }
  .mb-xxl-15 {
    margin-bottom: 15px;
  }
  .ml-xxl-15 {
    margin-left: 15px;
  }
  .mr-xxl-15 {
    margin-right: 15px;
  }
  .pt-xxl-20 {
    padding-top: 20px;
  }
  .pl-xxl-20 {
    padding-left: 20px;
  }
  .pr-xxl-20 {
    padding-right: 20px;
  }
  .pb-xxl-20 {
    padding-bottom: 20px;
  }
  .mt-xxl-20 {
    margin-top: 20px;
  }
  .mb-xxl-20 {
    margin-bottom: 20px;
  }
  .ml-xxl-20 {
    margin-left: 20px;
  }
  .mr-xxl-20 {
    margin-right: 20px;
  }
  .pt-xxl-25 {
    padding-top: 25px;
  }
  .pl-xxl-25 {
    padding-left: 25px;
  }
  .pr-xxl-25 {
    padding-right: 25px;
  }
  .pb-xxl-25 {
    padding-bottom: 25px;
  }
  .mt-xxl-25 {
    margin-top: 25px;
  }
  .mb-xxl-25 {
    margin-bottom: 25px;
  }
  .ml-xxl-25 {
    margin-left: 25px;
  }
  .mr-xxl-25 {
    margin-right: 25px;
  }
  .pt-xxl-30 {
    padding-top: 30px;
  }
  .pl-xxl-30 {
    padding-left: 30px;
  }
  .pr-xxl-30 {
    padding-right: 30px;
  }
  .pb-xxl-30 {
    padding-bottom: 30px;
  }
  .mt-xxl-30 {
    margin-top: 30px;
  }
  .mb-xxl-30 {
    margin-bottom: 30px;
  }
  .ml-xxl-30 {
    margin-left: 30px;
  }
  .mr-xxl-30 {
    margin-right: 30px;
  }
  .pt-xxl-35 {
    padding-top: 35px;
  }
  .pl-xxl-35 {
    padding-left: 35px;
  }
  .pr-xxl-35 {
    padding-right: 35px;
  }
  .pb-xxl-35 {
    padding-bottom: 35px;
  }
  .mt-xxl-35 {
    margin-top: 35px;
  }
  .mb-xxl-35 {
    margin-bottom: 35px;
  }
  .ml-xxl-35 {
    margin-left: 35px;
  }
  .mr-xxl-35 {
    margin-right: 35px;
  }
  .pt-xxl-40 {
    padding-top: 40px;
  }
  .pl-xxl-40 {
    padding-left: 40px;
  }
  .pr-xxl-40 {
    padding-right: 40px;
  }
  .pb-xxl-40 {
    padding-bottom: 40px;
  }
  .mt-xxl-40 {
    margin-top: 40px;
  }
  .mb-xxl-40 {
    margin-bottom: 40px;
  }
  .ml-xxl-40 {
    margin-left: 40px;
  }
  .mr-xxl-40 {
    margin-right: 40px;
  }
  .pt-xxl-45 {
    padding-top: 45px;
  }
  .pl-xxl-45 {
    padding-left: 45px;
  }
  .pr-xxl-45 {
    padding-right: 45px;
  }
  .pb-xxl-45 {
    padding-bottom: 45px;
  }
  .mt-xxl-45 {
    margin-top: 45px;
  }
  .mb-xxl-45 {
    margin-bottom: 45px;
  }
  .ml-xxl-45 {
    margin-left: 45px;
  }
  .mr-xxl-45 {
    margin-right: 45px;
  }
  .pt-xxl-50 {
    padding-top: 50px;
  }
  .pl-xxl-50 {
    padding-left: 50px;
  }
  .pr-xxl-50 {
    padding-right: 50px;
  }
  .pb-xxl-50 {
    padding-bottom: 50px;
  }
  .mt-xxl-50 {
    margin-top: 50px;
  }
  .mb-xxl-50 {
    margin-bottom: 50px;
  }
  .ml-xxl-50 {
    margin-left: 50px;
  }
  .mr-xxl-50 {
    margin-right: 50px;
  }
  .pt-xxl-55 {
    padding-top: 55px;
  }
  .pl-xxl-55 {
    padding-left: 55px;
  }
  .pr-xxl-55 {
    padding-right: 55px;
  }
  .pb-xxl-55 {
    padding-bottom: 55px;
  }
  .mt-xxl-55 {
    margin-top: 55px;
  }
  .mb-xxl-55 {
    margin-bottom: 55px;
  }
  .ml-xxl-55 {
    margin-left: 55px;
  }
  .mr-xxl-55 {
    margin-right: 55px;
  }
  .pt-xxl-60 {
    padding-top: 60px;
  }
  .pl-xxl-60 {
    padding-left: 60px;
  }
  .pr-xxl-60 {
    padding-right: 60px;
  }
  .pb-xxl-60 {
    padding-bottom: 60px;
  }
  .mt-xxl-60 {
    margin-top: 60px;
  }
  .mb-xxl-60 {
    margin-bottom: 60px;
  }
  .ml-xxl-60 {
    margin-left: 60px;
  }
  .mr-xxl-60 {
    margin-right: 60px;
  }
  .pt-xxl-65 {
    padding-top: 65px;
  }
  .pl-xxl-65 {
    padding-left: 65px;
  }
  .pr-xxl-65 {
    padding-right: 65px;
  }
  .pb-xxl-65 {
    padding-bottom: 65px;
  }
  .mt-xxl-65 {
    margin-top: 65px;
  }
  .mb-xxl-65 {
    margin-bottom: 65px;
  }
  .ml-xxl-65 {
    margin-left: 65px;
  }
  .mr-xxl-65 {
    margin-right: 65px;
  }
  .pt-xxl-70 {
    padding-top: 70px;
  }
  .pl-xxl-70 {
    padding-left: 70px;
  }
  .pr-xxl-70 {
    padding-right: 70px;
  }
  .pb-xxl-70 {
    padding-bottom: 70px;
  }
  .mt-xxl-70 {
    margin-top: 70px;
  }
  .mb-xxl-70 {
    margin-bottom: 70px;
  }
  .ml-xxl-70 {
    margin-left: 70px;
  }
  .mr-xxl-70 {
    margin-right: 70px;
  }
  .pt-xxl-75 {
    padding-top: 75px;
  }
  .pl-xxl-75 {
    padding-left: 75px;
  }
  .pr-xxl-75 {
    padding-right: 75px;
  }
  .pb-xxl-75 {
    padding-bottom: 75px;
  }
  .mt-xxl-75 {
    margin-top: 75px;
  }
  .mb-xxl-75 {
    margin-bottom: 75px;
  }
  .ml-xxl-75 {
    margin-left: 75px;
  }
  .mr-xxl-75 {
    margin-right: 75px;
  }
  .pt-xxl-80 {
    padding-top: 80px;
  }
  .pl-xxl-80 {
    padding-left: 80px;
  }
  .pr-xxl-80 {
    padding-right: 80px;
  }
  .pb-xxl-80 {
    padding-bottom: 80px;
  }
  .mt-xxl-80 {
    margin-top: 80px;
  }
  .mb-xxl-80 {
    margin-bottom: 80px;
  }
  .ml-xxl-80 {
    margin-left: 80px;
  }
  .mr-xxl-80 {
    margin-right: 80px;
  }
  .pt-xxl-85 {
    padding-top: 85px;
  }
  .pl-xxl-85 {
    padding-left: 85px;
  }
  .pr-xxl-85 {
    padding-right: 85px;
  }
  .pb-xxl-85 {
    padding-bottom: 85px;
  }
  .mt-xxl-85 {
    margin-top: 85px;
  }
  .mb-xxl-85 {
    margin-bottom: 85px;
  }
  .ml-xxl-85 {
    margin-left: 85px;
  }
  .mr-xxl-85 {
    margin-right: 85px;
  }
  .pt-xxl-90 {
    padding-top: 90px;
  }
  .pl-xxl-90 {
    padding-left: 90px;
  }
  .pr-xxl-90 {
    padding-right: 90px;
  }
  .pb-xxl-90 {
    padding-bottom: 90px;
  }
  .mt-xxl-90 {
    margin-top: 90px;
  }
  .mb-xxl-90 {
    margin-bottom: 90px;
  }
  .ml-xxl-90 {
    margin-left: 90px;
  }
  .mr-xxl-90 {
    margin-right: 90px;
  }
  .pt-xxl-95 {
    padding-top: 95px;
  }
  .pl-xxl-95 {
    padding-left: 95px;
  }
  .pr-xxl-95 {
    padding-right: 95px;
  }
  .pb-xxl-95 {
    padding-bottom: 95px;
  }
  .mt-xxl-95 {
    margin-top: 95px;
  }
  .mb-xxl-95 {
    margin-bottom: 95px;
  }
  .ml-xxl-95 {
    margin-left: 95px;
  }
  .mr-xxl-95 {
    margin-right: 95px;
  }
  .pt-xxl-100 {
    padding-top: 100px;
  }
  .pl-xxl-100 {
    padding-left: 100px;
  }
  .pr-xxl-100 {
    padding-right: 100px;
  }
  .pb-xxl-100 {
    padding-bottom: 100px;
  }
  .mt-xxl-100 {
    margin-top: 100px;
  }
  .mb-xxl-100 {
    margin-bottom: 100px;
  }
  .ml-xxl-100 {
    margin-left: 100px;
  }
  .mr-xxl-100 {
    margin-right: 100px;
  }
  /* Flex CSS */
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-inline-flex {
    display: inline-flex;
  }
  .flex-direction-xxl-row {
    flex-direction: row;
  }
  .flex-direction-xxl-column {
    flex-direction: column;
  }
  .flex-direction-xxl-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xxl-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-xxl-start {
    justify-content: start;
  }
  .justify-content-xxl-center {
    justify-content: center;
  }
  .justify-content-xxl-end {
    justify-content: end;
  }
  .justify-content-xxl-evenly {
    justify-content: evenly;
  }
  .justify-content-xxl-space-around {
    justify-content: space-around;
  }
  .justify-content-xxl-space-between {
    justify-content: space-between;
  }
  .align-items-xxl-start {
    align-items: start;
  }
  .align-items-xxl-center {
    align-items: center;
  }
  .align-items-xxl-end {
    align-items: end;
  }
  .align-items-xxl-stretch {
    align-items: stretch;
  }
  .align-items-xxl-baseline {
    align-items: baseline;
  }
  .text-xxl-lowercase {
    text-transform: lowercase;
  }
  .text-xxl-capitalize {
    text-transform: capitalize;
  }
  .text-xxl-uppercase {
    text-transform: uppercase;
  }
  h1-xxl {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }
  h2-xxl {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  h3-xxl {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
  }
  h4-xxl {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  h5-xxl {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
  h6-xxl {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */